.wrapper
  = render "items/header"
  .main
    .content
      .content__left
        .content__left__mypage
          %h2.mypage-head 設定
          %ul.mypage-list
            %li
              .content__left__mypage__listitem
                =link_to "クレジットカード登録", creditcard_users_path, method: :get
            %li
              .ontent__left__mypage__listitem
                =link_to "ログアウト", logout_users_path, method: :get
      .content__right2
        .content__right2__btn
          %form.content__right2__btn__inner{:action => "https://www.mercari.com/jp/logout/", :method => "POST", :novalidate => "novalidate"}
            .content__right2__btn__inner__content
              =link_to "ログアウト", destroy_user_session_path, method: :delete 
  =render "items/footer"