<main>
    <div class="content">
      <div class="left">
        <div class="mypage">
          <h2 class="mypage-head">設定</h2>
          <ul class="mypage-list">
            <li>
              <a href="card.html" class="mypage-list-item">クレジットカード
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="#" class="mypage-list-item">サンプル</a>
            </li>
            <li>
              <a href="#" class="mypage-list-item">サンプル</a>
              <i class="icon-arrow-right"></i>
            </li> 
            <li>
              <a href="#" class="mypage-list-item">サンプル</a>
              <i class="icon-arrow-right"></i>
            </li>
            <li>
              <a href="#" class="mypage-list-item">サンプル</a>
              <i class="icon-arrow-right"></i>
            </li>
            <li>
              <a href="#" class="mypage-list-item">サンプル</a>
              <i class="icon-arrow-right"></i>
            </li>
            <li>
              <a href="logout.html" class="mypage-list-item">ログアウト</a>
              <i class="icon-arrow-right"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <section class="mypageicon">
          <figure>
            <img src="member_photo_noimage_thumb.png" alt width="60" height="60">
          </figure>
          <h5 class="bold">Masaaki Kamegai</h5>
        </section>
        <section class="mypagebuy">
          <ul class="mypagebuy-tabs">
            <li class="mypagebuy-tabs-left">
              <h4>
                <a href="mypagebuy-tabs-transaction-now" data-taggle="tab">取引中</a>
              </h4>
            </li>
            <li class="mypagebuy-tabs-right">
              <h4>
                <a href="mypagebuy-tabs-transaction-old" data-taggle="tab">過去の取引</a>
              </h4>
            </li>
          </ul>
          <div class="tab-content">
            <ul id="mypagebuy-tabs-transaction-now" class="mypage-item-list tab-pane">
              <li>取引中の商品がありません</li>
            </ul>
            <ul id="mypagebuy-tabs-transaction-old" class="mypage-item-list tab-pane">
              <li>過去に取引した商品がありません</li>
        </section>
        
        </div>
      </div>
    </div>
</main>