main{
  background-color: whitesmoke;
  .content{
    height: 100vh;
    width: 1020px;
    margin: 40px auto 0;
    .left{
      background-color: white;
      float: left;
      width: 280px;
      height: 100%;
      margin: 0 40px 0 0;
      .mypage{
        /* background-color:white;
        margin: 0;
        padding: 0;
        height: 100%; */
        h2{
          margin: 0;
        }
        .mypage-head{
          background-color: white;
        }
        
        .mypage-list{
          margin: 8px 0 0;
          list-style: none;
          padding-inline-start: 0px;
          li{
            border-style: solid;
            border-width: 0;
            .mypage-list-item{
              position: relative;
              display: block;
              min-height: 20px;
              padding: 16px;
              background-color: rgb(168, 164, 164);
              font-size: 14px;
              color: black;
              border: solid 0.5px #cccccc;
            }
            
            .icon-arrow-right{
              position: absolute;
              top: 50px;
              right: 16px;
              color: #cccccc;
              transform: translate(0, 50%);
              transition-property: all;
              transition-duration: 0.2s;
              transition-timing-function: ease-out;
              transition-delay: 0s;
            }
          }
        }
      }
    }
  }
  
}


.right{
  float: right;
  width: 700px;
  height: 640px;
  background-color: white;
  .mypageicon{
    height: 200px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    position: relative;
    background-image: image();
  }
  .mypagebuy{
    width: 700px;
    height: 400px;
    .mypagebuy-tabs{
      border: 0;
      background-color: red;
      display: flex;
      list-style: none;
      padding-inline-start: 0px;
      text-align: center;
      margin: 0;
      .mypagebuy-tabs-left{
        width: 50%;
        background-color: red;
      }
      .mypagebuy-tabs-right{
        width: 50%;
        background-color: royalblue;
      }
    }
    .tab-content{
      height: 400px;
      background-color:gainsboro;
      .mypage-item-list{
        padding-inline-start: 0px;
        list-style: none;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

// ここからlogout.html.haml
.right2{
  background-color: whitesmoke;
  float: right;
  width: 700px;
  height: 100%;
  .right2-content{
    margin: 0;
    background-color: white;
  }
  .l-single-inner{
    padding: 64px;
    border-top: 1px solid #f5f5f5;
  }
  .right2-single-content{
    max-width: 320px;
    margin: 0 auto;
    background-color: #3CCACE;
    border: 1px solid #3CCACE;
    color: white;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
}

// ここからcreditcard.html.haml
.right3{
  float: right;
  width: 700px;
  height: 100%;
  .card{
    margin: 0;
    .card-head-color{
      background-color: white;
      margin-bottom: 2px;
      .card-head{
        font-size: 24px;
        padding: 8px 24px;
        text-align: center;
      }
    }
    .registrationform{
      padding: 24px 16px 40px;
      background-color: white;
      .singlecontent{
        max-width: 343px;
        margin: 0 auto;
        .formgroup1{
          .payment_card_no{
            font-weight: 600;
          }
          .payment_card_no1{
            width: 300px;
            height: 38px;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: white;
            line-height: 1.5;
            font-size: 16px;
          }
          .form-require{
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: white;
            background-color: red;
            font-size: 12px;
            vertical-align: top;
          }
          .signup-card-list{
            margin: 8px 0 0;
            font-size: 0;
            display: flex;
            padding-inline-start: 0px;
          }
        }
        .formgroup2{
          margin: 24px 0 0;
          .payment_card_no{
            font-weight: 600;
          }
          .form-require{
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: white;
            background-color: red;
            font-size: 12px;
            vertical-align: top;
          }
          .payment_card_no2{
            width: 300px;
            height: 38px;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: white;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        .formgroup3{
          margin: 24px 0 0;
          .payment_card_no{
            font-weight: 600;
          }
          .form-require{
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: white;
            background-color: red;
            font-size: 12px;
            vertical-align: top;
          }
          .payment_card_no3{
            width: 300px;
            height: 38px;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: white;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        .formgroup4{
          margin: 24px 0 0;
          max-width: 320px;
          background-color: #3CCACE;
          border: 1px solid #3CCACE;
          color: white;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}



// .formgroup-security label{
//   font-weight: 600;
//   display: inline-block;
// }

// .input-default2{
//   width: 300px;
//   height: 38px;
//   margin: 8px 0 0;
//   padding: 10px 16px 8px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
//   background-color: white;
//   line-height: 1.5;
//   font-size: 16px;
// }

// .btn-red{
//   background: #3CCACE;
//   border: 1px solid #3CCACE;
//   color: white;
// }

// .btn-default{
//   display: block;
//   width: 100%;
//   line-height: 48px;
//   font-size: 14px;
//   margin-top: 25px;
//   cursor: pointer;
//   text-align: center;
// }