// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  background-color: whitesmoke;
  .content{
    height: 100vh;
    width: 1020px;
    margin: 40px auto 0;
    &__left{
      background-color: white;
      float: left;
      width: 280px;
      height: 100%;
      margin: 0 40px 0 0;
      &__mypage{        
        &__list{
          margin: 8px 0 0;
          list-style: none;
          padding-inline-start: 0px;
          &__item{
            border-style: solid;
            border-width: 0;
            position: relative;
            // display: block;
            min-height: 20px;
            padding: 16px;
            background-color: gainsboro;
            font-size: 14px;
            color: black;
            border: solid 0.5px #cccccc;
              a{
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    &__right{
      float: right;
      width: 700px;
      height: 640px;
      background-color: white;
      &__mypageicon{
        height: 200px;
        text-align: center;
        padding: 20px 20px 20px 20px;
        position: relative;
        background-image: image();
        figure{
          width: 10%;
          padding-left: 255px;
        }
      }
      &__mypagebuy{
        width: 700px;
        height: 400px;
        &__tabs{
          border: 0;
          background-color: red;
          display: flex;
          list-style: none;
          padding-inline-start: 0px;
          text-align: center;
          margin: 0;
          &__left{
            width: 50%;
            background-color: red;
            a{
              text-decoration: none;
              color: white;
            }
          }
          &__right{
            width: 50%;
            background-color: royalblue;
            a{
              text-decoration: none;
              color: white;
            }
          }
        }
        &__tabcontent{
          height: 400px;
          background-color:gainsboro;
          &__contents{
            padding-inline-start: 0px;
            list-style: none;
            text-align: center;
            margin: 0 auto;
          }
        }
      }
    }
// ここから card new.html.haml=======================
    .content__right3{
      float: right;
      width: 700px;
      height: 100%;
      &__card{
        margin: 0;
        &__headcolor{
          background-color: white;
          margin-bottom: 2px;
          &__text{
            font-size: 24px;
            padding: 8px 24px;
            text-align: center;
          }
        }
        &__registrationform{
          padding: 24px 16px 40px;
          background-color: white;
          &__content{
            max-width: 343px;
            margin: 0 auto;
            &__cardnumber{
              font-weight: 600;
            .number{
              width: 300px;
              height: 38px;
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background-color: white;
              line-height: 1.5;
              font-size: 16px;
              margin: 8px 0 0;
            }
              .form-require{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: white;
                background-color: red;
                font-size: 12px;
                vertical-align: top;
              }
              .signup-card-list{
                margin: 8px 0 0;
                font-size: 0;
                display: flex;
                padding-inline-start: 0px;
                width: 49px;
              }
            }
            &__validexp{
              margin: 24px 0 0;
              font-weight: 600;
              &__selectwrap{
                display: flex;
                &__exp{
                  width: 38%;
                  height: 38px;
                  margin: 8px 0 0;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background-color: white;
                  line-height: 1.5;
                  font-size: 16px;
                }
                span{
                  line-height: 50px;
                }
              }
            }
            &__security{
              font-weight: 600;
              .cvc{
                width: 300px;
                height: 38px;
                margin: 8px 0 0;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
                line-height: 1.5;
                font-size: 16px;
                margin: 8px 0 0;
              }
            }
            &__btn{
              margin: 24px 0 0;
              max-width: 320px;
              background-color: #3CCACE;
              border: 1px solid #3CCACE;
              color: white;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              cursor: pointer;
              text-align: center;
              a{
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }
    }
// ここから card show.html.haml=======================
    .content__right4{
      float: right;
      width: 700px;
      height: 100%;
      &__card{
        margin: 0;
        &__headcolor{
          background-color: white;
          margin-bottom: 2px;
          &__text{
            font-size: 24px;
            padding: 8px 24px;
            text-align: center;
          }
        }
        &__info{
          padding: 24px 16px 40px;
          background-color: white;
          &__content{
            max-width: 343px;
            margin: 0 auto;
          }
          .btn{
            margin: 24px 0 0;
            max-width: 320px;
            background-color: #3CCACE;
            border: 1px solid #3CCACE;
            color: white;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            a{
              text-decoration: none;
              color: white;
            }
          }
          }
        }
      }
    }


  }
