body{margin: 0;}
.whole{  
  background-color: whitesmoke;
  padding: 0 10%;
  h1{
    margin: 0;
    text-align: center;
    padding: 30px;
  }
  h2{
    background-color: white;
    text-align: center;
    width: 700px;
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke;
    font-size: 20px;
    margin: 0 auto;
  }
  .logout-content{ 
    width: 300px;
    margin: 0 auto;
    padding: 20px 200px;
    background-color: white;
  }
  .login-content{
    width: 300px;
    margin: 0 auto;
    padding: 20px 70px;
    background-color: white;
  }
    .field{
      width: 100%;
      margin-bottom: 10px;
      &__label{
        display: flex;
        font-size: 13px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        &--left{
          font-weight: bold;
        }
        &--right{
          margin-left: 5%;
          padding: 0px 3px;
          height: 18px;
          font-size: 12px;
          background-color: red;
          border-radius: 3px;
          color: white;
        }
        &--right__any{
          margin-left: 5%;
          padding: 0px 3px;
          height: 18px;
          font-size: 12px;
          background-color: blue;
          border-radius: 3px;
          color: white;
        }
      }
      &__input{
        display: flex;
        input{
          width: 100%;
          padding: 15px 10px;
          font-size: 16px;
          display: block;
        }
        &--left{
          width: 44%;
          input{
            padding: 15px 0 15px 5%;
            margin-bottom: 10px;
          }
        }
        &--right{
          width: 44%;
          margin-left: 9%;
          input{
            padding: 15px 0 15px 5%;
          }
        }
      }
    }
    .actions{
      text-align: center;
      .submit{
        background-color: red;
        font-size: 20px;
        width: 100%;
        padding: 10px 0%;
        color: white;
        margin-top: 50px;
      }
    }
  .sign_up{
    text-align: center;
    background-color: white;
    width: 300px;
    padding: 20px 70px;
    margin: 0 auto;
    border-bottom: 1px solid whitesmoke;
    .sign_up-btn{
      padding: 10px 0;
      background-color: blue;
      font-size: 20px;
      text-decoration: none;
      color: white;
      display: block;
      margin: 10px 0 30px 0;
    }
  }
  .forget-btn{
    display: block;
    margin-top: 50px;
    text-decoration: none;
    color: skyblue;
  }
  .sign-up__footer{
    margin: 0 auto;
    background-color: whitesmoke;
    height: 200px;
    padding-top: 20px;
    width: 700px;
  }
  .sign-in__footer{
    margin: 0 auto;
    background-color: whitesmoke;
    height: 200px;
    padding-top: 20px;
    width: 500px;
  }
    .terms{
      display: flex;
      justify-content: center;
      &__content{
        margin: 10px 20px 0 0;
        font-size: 13px;
        a{
          text-decoration: none;
          color: dimgray;
        }
      }
    }
    .footer-image{
      background-color: whitesmoke;
      text-align: center;
      padding: 30px 0;
      margin: 0;
    }
}
.devise_eroor_count_message{
  background-color: red;
  width: 700px;
  font-size: 25px;
  color: blue;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2px;
  border: 1px solid darkred;
  border-radius: 2px;
  padding: 15px 0;
  border-radius: 2px;
}
.devise-error-messages {
  text-align: center;
  color: darkred;
  background-color: lightcoral;
  border: 1px solid darkred;
  border-radius: 2px;
  width: 700px;
  margin: auto;
  margin-bottom: 2px;
}