.wrapper
  = render "items/header"
  .main
    .content
      .content__left
        .content__left__mypage
          %h2.mypage-head 設定
          .content__left__mypage__list
            .content__left__mypage__list__item
              =link_to "クレジットカード登録", new_card_path, method: :get
            .content__left__mypage__list__item
              =link_to "サンプル", "#"
            .content__left__mypage__list__item
              =link_to "サンプル", "#"
            .content__left__mypage__list__item
              =link_to "ログアウト", logout_users_path, method: :get
      .content__right4
        .content__right4__card
          .content__right4__card__headcolor
            %h2.content__right4__card__headcolor__text 登録クレジットカード情報
          .content__right4__card__info
            .content__right4__card__info__content
              .content__right4__card__info__content__formgroup1
              %label カード番号
              = "**** **** **** " + @default_card_information.last4
              %br
              %label 有効期限
              - exp_month = @default_card_information.exp_month.to_s 
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
              = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm", class:"btn") do
                %input{ type: "hidden", name: "card_id", value: "" }
                %button 削除する
        
  =render "items/footer"