.sign-up__footer 
  .terms
    .terms__content
      = link_to "プライバシーポリシー", "#", class: 'login-btn'
    .terms__content
      = link_to "フリマ利用規約", "#", class: 'login-btn'
    .terms__content
      = link_to "特定商取引に関する表記", "#", class: 'login-btn'
  .footer-image
    = image_tag 'logo.png', alt: '', height: '50px', width: '180px', class: '' 
  
